html {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 400 1rem "Commissioner", sans-serif;
}
.header{
    margin-bottom: 1rem;
    font-weight: 600;
}
.numberList {
    margin-bottom: 2rem;
}
.button {
    font: 400 1rem "Commissioner", sans-serif;
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    border: none;
    border-radius: 0.3rem;
    min-width: 2rem;
}
.button:hover {
    background-color: rgb(58, 58, 58);
}
input[type="text"]{
    font: 400 1rem "Commissioner", sans-serif;
}
.control-form {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    height: 2rem;
}
